apiVersion: v1
kind: Secret
metadata:
  name: healthcare-secrets
  namespace: healthcare
type: Opaque
stringData:
  db-user: "REPLACE_ME"
  db-password: "REPLACE_ME"
  db-name: "REPLACE_ME"
  secret-key-base: "REPLACE_ME_run_rails_secret"
  redis-url: "redis://redis-service:6379/0"
  database-url: "postgres://USER:PASSWORD@postgres-service:5432/DB_NAME"